body{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.cabeçalho{
    text-align: center;
    background-color: brown;
    color:azure;
    padding: 30px;
    font-size: 40px;
}
.link{
    color: brown;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paragrafo{
    font-size: 25px;
    overflow:auto;
}

img{
    padding: 20px;
    box-sizing: border-box;
    width: 1000px;
}
table {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pudim{
    text-align:center;
}